body{
  background-color: aqua;
  font-family: cursive;

}
img{
  width: 150px;
  height: 150px;
  border-radius: 60%;
}
buttonSssssS{
  background-color: blueviolet;
  color: navy;
  font-family: monospace;
  border: groove navy 5px;
  border-radius: 50%;
  cursor: pointer;
}
button:hover{
  background-color: aliceblue;
  color: yellow;


}